<% flash.each do |name, message| %>
    <div class=<%= name %>>
        <%= message %>
    </div>
<% end %>    

<div class="root_container">

    <div class="root_body">
        <%= image_tag "coin.png", class:"logo" %>

        <%= form_with url: "/login", class: "root_form_area" do |form|  %>
            <%= form.text_field :username, class:"username_input", autocomplete:"off" %>

            <%= form.submit "Log in", class:"login_register" %>
        <% end %>
    </div>

    <%= link_to "Register", register_path, class:"switch_login_register" %>

</div>

<%= javascript_pack_tag 'new_session' %>