<% flash.each do |name, message| %>
    <div class="alert">
        <%= message %>
    </div>
<% end %>    


<div class="container">

    <div class="main_body">
        <%= image_tag "coin.png", class:"logo" %>

        <%= form_with url: "/login", class: "form_area" do |form|  %>
            <%= form.text_field :username, class:"username_input" %>

            <%= form.submit "Log in", class:"login" %>
        <% end %>
    </div>

    <%= link_to "Register", register_path, class:"register" %>

</div>