<% flash.each do |name, message| %>
    <div class=<%= name %>>
        <%= message %>
    </div>
<% end %>   

<div class="root_container">

    <div class="root_body">
        <%= image_tag "coin.png", class:"logo" %>

        <%= form_with url: "/register", class: "root_form_area" do |form| %>
            <%= form.text_field :username, class:"username_input", autocomplete:"off" %>

            <%= form.submit "Create user", class:"login_register" %>
        <% end %>        
    </div>
    
    <%= link_to "Log In", login_path, class:"switch_login_register" %>

</div>

<div class="help_hover">
    <%= image_tag "help.png", class:"help" %>
    <span class="tooltiptext">This is a toy clone of Cash App. Use two different browsers and accounts for the full experience.</span>
</div>

<%= javascript_pack_tag 'new_user' %>