<% flash.each do |name, message| %>
    <%= message %>
<% end %>

<h1><%= @current_user.username %>'s page</h1>

<div>
    Balance: <%= number_to_currency(@current_user.balance) %>
</div>    


<br>

<%= link_to "Transaction History", transactions_path %>
<%= link_to "New Transaction", new_transaction_path %>

<br>
<br>

<%= link_to "Logout", logout_path, :method => "delete" %>