<% flash.each do |name, message| %>
    <a href="">
        <div class=<%= name %>>
            <%= message %>
        </div>
    </a>    
<% end %>

<div class="user_container">

    <div class="user_body">
        <div class="username">
            <%= @current_user.username %>
        </div>

        <div class="current_balance">
            <%= number_to_currency(@current_user.balance) %>
        </div>

        <div class="current_balance_label">Balance</div>

        <%= link_to "Hax: Add $10", user_path(@current_user), method: :patch, class:"hax" %>
    </div>

    <%= link_to "Logout", logout_path, :method => "delete", class:"logout" %>

</div>

<div class="side_nav">
    <%= link_to root_path do %>
        <%= image_tag "user_filled.png", class:"nav_top"%>
    <% end %>

    <%= link_to transactions_path do %>
        <%= image_tag "time.png", class:"nav_top"%>
    <% end %>

    <%= link_to new_transaction_path do %>
        <%= image_tag "coin.png", class:"nav_bottom" %>
    <% end %>
</div>