<h1>Pending</h1>
<% @unapproved_transactions.each do |transaction| %>
    <%= transaction.sender.username %>
    <%= transaction.receiver.username %>
    <%= number_to_currency(transaction.amount) %>

    <% if transaction.sender.username == @current_user.username %>
        <%= link_to "Approve", transaction_path(:id => transaction.id), method: :patch %> <br>
    <% end %>
<% end %>

<h1>Past</h1>
<% @approved_transactions.each do |transaction| %>
    <%= transaction.sender.username %>
    <%= transaction.receiver.username %>
    <%= number_to_currency(transaction.amount) %><br>
<% end %>

<br>

<%= link_to "Balance", root_path %>

<%= link_to "New Transaction", new_transaction_path %>