<% flash.each do |name, message| %>
    <div class=<%= name %>>
        <%= message %>
    </div>
<% end %>

<div class="transaction_history_container">
    <div class="pending_body">

        <div class="pending_label">Pending</div>

        <% @unapproved_transactions.each do |transaction| %>
            <div class="transaction_row">
                <div>
                    <% if transaction.sender.username == @current_user.username %>
                        <%= transaction.receiver.username %>
                    <% else %>
                        <%= transaction.sender.username %>
                    <% end %>                    
                </div>
                <div class="row_right">
                    <% if transaction.sender.username == @current_user.username %>
                        -<%= number_to_currency(transaction.amount) %>
                    <% else %>
                       <%= number_to_currency(transaction.amount) %>
                    <% end %>

                    <% if transaction.sender.username == @current_user.username %>
                        <%= link_to "Accept", transaction_path(:id => transaction.id), method: :patch, class:"approve" %>
                    <% else %>
                        <div class="placeholder"></div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="past_body">
        <div class="past_label">Past</div>
        <% @approved_transactions.each do |transaction| %>
            <div class="transaction_row">
                <div>
                    <% if transaction.sender.username == @current_user.username %>
                        <%= transaction.receiver.username %>
                    <% else %>
                        <%= transaction.sender.username %>
                    <% end %>
                </div>
                <div>
                    <div class="row_right">
                        <% if transaction.sender.username == @current_user.username %>
                            -<%= number_to_currency(transaction.amount) %>             
                        <% else %>
                            <%= number_to_currency(transaction.amount) %>                        
                        <% end %>                    
                        <div class="placeholder"></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="side_nav">
    <%= link_to root_path do %>
        <%= image_tag "user.png", class:"nav_top"%>
    <% end %>
    
    <%= link_to transactions_path do %>
        <%= image_tag "time_filled.png", class:"nav_top"%>
    <% end %>
    
    <%= link_to new_transaction_path do %>
        <%= image_tag "coin.png", class:"nav_bottom" %>
    <% end %>
</div>