<% flash.each do |name, message| %>
    <div class=<%= name %>>
        <%= message %>
    </div>
<% end %>   

<%= form_with model: @transaction do |form| %>
    <%= form.label :target_username %><br>
    <%= form.text_field :target_username %><br>

    <%= form.hidden_field :amount %><br>

    <br>
    <div class="amount_display"></div>
    <br>

    <div class="number_input">1</div>
    <div class="number_input">2</div>
    <div class="number_input">3</div>
    <div class="number_input">4</div>
    <div class="number_input">5</div>
    <div class="number_input">6</div>
    <div class="number_input">7</div>
    <div class="number_input">8</div>
    <div class="number_input">9</div>
    <div class="number_input">0</div>

    <div class="backspace"><</div>

    <div class="decimal_point">.</div>

    <%= form.submit 'Send' %>
    <%= form.submit 'Request' %>
<% end %>    

<br>

<%= link_to "Balance", root_path %>

<%= link_to "Transaction History", transactions_path %>

<%= javascript_pack_tag 'new_transaction' %>