<% flash.each do |name, message| %>
    <a href="/transactions/new">
        <div class=<%= name %>>
            <%= message %>
        </div>
    </a>    
<% end %>   



<%= form_with model: @transaction do |form| %>
    <div class="new_transaction_container">

        <%= form.text_field :target_username, placeholder:"username", autocomplete:"off" %>

        <%= form.hidden_field :amount %>

        <div class="amount_display">$0</div>

        <div class="number_input_container">
            <div class="amount_input number_input">1</div>
            <div class="amount_input number_input">2</div>
            <div class="amount_input number_input">3</div>
            <div class="amount_input number_input">4</div>
            <div class="amount_input number_input">5</div>
            <div class="amount_input number_input">6</div>
            <div class="amount_input number_input">7</div>
            <div class="amount_input number_input">8</div>
            <div class="amount_input number_input">9</div>
            <div class="amount_input decimal_point">.</div>            
            <div class="amount_input number_input">0</div>
            <div class="amount_input backspace"><</div>         
        </div>

        <div class="transaction_buttons">
            <%= form.submit 'Send' %>
            <%= form.submit 'Req' %>
        </div>
    </div>
<% end %>


<div class="side_nav">
    <%= link_to root_path do %>
        <%= image_tag "user.png", class:"nav_top"%>
    <% end %>    

    <%= link_to transactions_path do %>
        <%= image_tag "time.png", class:"nav_top" %>
    <% end %>

    <%= link_to new_transaction_path do %>
        <%= image_tag "coin_filled.png", class:"nav_bottom" %>
    <% end %>
</div>


<%= javascript_pack_tag 'new_transaction' %>